body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: black;
}
.card {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    grid-column: 2/3;
    text-align: center;      
}
.card img {
    width: 100%;
    height: auto;
}
.card-content {
    padding: 20px;
    background-color: #f8f9fa;
}
.card-content h3 {
    margin: 0;
    font-size: 1.5em;
    color: black;
}
.card-content h4 {
    margin: 0;
    font-size: 1em;
    color: rgb(18, 44, 116);
}
.card-content p {
    color: #494848;
    margin: 10px 0;
}
.card-footer {
    display: flex;
    justify-content: space-between;
    padding:20px 20px;
    background-color: #2a5c96;
    color: white;   
}
.card-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr;
    justify-content: space-between;
}
.card-footer h1 {
    font-size: .8em;
    padding: 0%;
    
}
.card-footer h2 {
    font-size: 1.8em;
}
