  body {
    background-color: #5ca1d7;
  }
  .center-text { 
    text-align: center; 
    width: 30%; /* Adjust this percentage as needed */
    margin: 0 auto; /* Optional: Ensures the container itself is centered */
  }
  .leftalign {
    text-align: left;
  }
  .white {
    color: white;
  }
  .hover-text {
    color: white; 
  }
  
  .hover-text:hover {
    color: black; 
  }